<div id="content">
<div class="container">
  <h2>New Bowling Game</h2>
  
  <%= form_tag 'bowlgames', :method => :post, id: "form_for_new_bowlgame" do %>
    <div class="row">
      <% 10.times do |i| %>
        <%= render partial: 'new_frame', :locals => { :frame_number => i } %>
      <% end %>
    </div>

    <br />
    <div class="form-group">
      <%= submit_tag "Submit game", { class: "btn btn-primary disabled", disabled: "disabled"} %> &nbsp;
      <!-- a class="btn btn-primary" id="reset">Reset</a -->
    </div>

  <% end %>

</div><!-- .container -->
</div><!-- #content -->
